 ul {
     background-color: rgb(22, 62, 121);

        list-style-type: none;
        margin: 0px;
        padding: 0px;
      }

li {
    font-size: 25px;
    display: inline;
    margin: 0px;
    padding: 15px;
  }
  li a {
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }
  .navigation{
      max-height: 10%;
  }

.login-con{
    height: 100%;
    background-image: url("https://wallpaperaccess.com/full/2641063.gif");
    
}

#loginForm{
    padding: 20px;
    max-width: 40%;
    border: 2px solid black;
    transform: translate(50%, 50%);
}
#loginForm input{
    padding: 5px;
    border-radius: 3px;
}
#reg-form{
    padding: 20px;
    max-width: 40%;
    border: 2px solid black;
    transform: translate(50%, 50%);
    background-color: rgba(24, 248, 155, 0.3);
}

#reg-form input{
    padding: 5px;
    border-radius: 3px;
}

h1{
    text-align: center;
}
.container{
    height: 100vh;
}

.reg-con{
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1462331321792-cc44368b8894?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1253&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}